[submodule "kubespray"]
	path = kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
[submodule "kubeX/kubespray"]
	path = kubeX/kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
